.guest-speaker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.guest-speaker-card {
  display: block;
  flex-basis: calc(20% - 20px);
  max-width: 380px;
  height: auto;
  margin: 25px 10px;
  color: inherit;
  border-radius: 16px;
}

.guest-speaker-logo {
  border-radius: 50%;
}

.guest-speaker-name {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
}

/* for mobile */
@media (max-width: 1280px) {
  .guest-speaker-logo {
    width: 192px;
    height: 192px;
  }
}
