@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
}

#header-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

#header-image img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* about */
#about {
  padding: 13vw;
  color: #efefef;
  background-color: #e50808;
  background-image: url("../images/logo_half.svg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: right;
}

#about h1 {
  font-style: normal;
  font-size: calc(96 / 1440 * 100vw);
  font-weight: 600;
  line-height: calc(132 / 1440 * 100vw);
}

#about h2 {
  font-style: normal;
  font-size: calc(80 / 1440 * 100vw);
  font-weight: 600;
  line-height: calc(110 / 1440 * 100vw);
}

#about p {
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-style: normal;
  font-size: calc(28 / 1440 * 100vw);
  font-weight: 200;
  line-height: calc(64 / 1440 * 100vw);
}

#round-button {
  margin: 0 0 0 auto;
  width: calc(332 / 1440 * 100vw);
  height: calc(100 / 1440 * 100vw);
  background: #efefef;
  border-radius: 50px;
  text-align: center;
  display: grid;
  place-items: center;
}

#round-button a {
  text-decoration-line: none;
  color: #e50808;
  font-size: calc(42 / 1440 * 100vw);
  line-height: calc(57 / 1440 * 100vw);
  font-weight: 700;
}

/* guest-speaker */
#guest-speaker {
  padding: 13vw;
  color: #111111;
  text-align: center;
}

#guest-speaker h2 {
  color: #e50808;
  font-size: calc(62 / 1440 * 100vw);
}

/* timetable */
#timetable {
  padding: 13vw;
  color: #111111;
  text-align: left;
}

#timetable h2 {
  color: #F50808;
  font-size: calc(62 / 1440 * 100vw);
}

/* sponsor */
#sponsor {
  padding: 13vw;
  background-color: #eeeeee;
  color: #111111;
  text-align: center;
}

#sponsor h2 {
  color: #e50808;
  font-size: calc(62 / 1440 * 100vw);
}

/* member */
#member {
  padding: 13vw;
  color: #111111;
  text-align: center;
}

#member h2 {
  color: #e50808;
  font-size: calc(62 / 1440 * 100vw);
}

/* Access */
#access {
  padding: 13vw;
  background-color: #CBC8C8;
}

#access h2 {
  color: #292929;
  font-size: calc(62 / 1440 * 100vw);
}

#access p {
  font-size: calc(30 / 1440 * 100vw);
  font-weight: 200;
}

#access #map {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 50%;
}

#access #map #googlemaps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer */
#footer {
  background-color: #292929;
  padding: 5.5vw;
  text-align: center;
}

#footer p {
  color: #efefef;
  font-size: calc(24 / 1440 * 100vw);
  font-weight: 100;
}
