ul.timetable {
  padding-inline-start: 0px;
  border-left: 0.3rem solid #f50808;
}

.timetable-event-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.timetable-session-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.timetable-timebox {
  margin-right: 50px;
  font-size: 34px;
  font-weight: 300;
}

.timetable-event-item .timetable-timebox {
  padding-left: 80px;
  background: url(../images/event-pin.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.timetable-session-item .timetable-timebox {
  padding-left: 80px;
  background: url(../images/session-pin.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.timetable-evnet {
  font-size: 32px;
  font-weight: 500;
}

.timetable-session {
  position: relative;
  min-width: 80%;
  min-height: 50px;
  padding: 30px;
  text-align: left;
  background: #f50808;
  border-radius: 16px;
}

.timetable-session-title {
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
}

.timetable-session-speaker {
  margin-top: 35px;
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
}

/* for PC */
@media (min-width: 1280px) {
  .timetable-session::after {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    margin-top: -10px;
    pointer-events: none;
    content: '';
    border: solid transparent;
    border-color: rgba(245, 8, 8, 0);
    border-top-width: 10px;
    border-right-color: #f50808;
    border-right-width: 30px;
    border-bottom-width: 10px;
    border-left-width: 30px;
  }
}

/* for mobile */
@media (max-width: 1280px) {
  .timetable-session-item {
    flex-wrap: wrap;
  }

  .timetable-evnet {
    font-size: 22px;
  }

  .timetable-timebox {
    font-size: 23px;
  }

  .timetable-session-title {
    font-size: 20px;
  }

  .timetable-session-speaker {
    font-size: 18px;
  }

  .timetable-session {
    min-width: 100%;
    min-height: 30px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
