<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
    <style>
        h1 {
          text-transform: none;
        }
    </style>
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    <ul id="menu">
        <li data-menuanchor="bio"><a href="#bio">Biography</a></li>
        <li data-menuanchor="social"><a href="#social">Social Links</a></li>
    </ul>

    <div id="section0" class="section" data-name="bio">

        {% include common/notices.html %}

        <div class="headings animated fadeInLeft">
            {% if site.home.section1 %}{{ site.home.section1 }}{% endif %}
            {% if site.home.section2 %}{{ site.home.section2 }}{% endif %}
            {% if site.home.section3 %}{{ site.home.section3 }}{% endif %}
        </div>

        <br/>

        <div class="headings animated fadeInLeft"></div>
            <h3><a href="https://rubykansai.doorkeeper.jp/events/156754/" target="_blank"><h4>CFP 募集を開始します。</h4></a>
            <h3><a href="https://rubykansai.doorkeeper.jp/events/156900/" target="_blank"><h4>スタッフ 募集を開始します。</h4></a>
        </div>
    </div>

    {% include home/scripts.html %}
</body>

</html>